<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyJ2RdU9ziIXza8vBtc7S3bIJ5N410Otk</string>
	<key>GCM_SENDER_ID</key>
	<string>503254985448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dofuulive.iosapp.duplicated</string>
	<key>PROJECT_ID</key>
	<string>duplicatedapps</string>
	<key>STORAGE_BUCKET</key>
	<string>duplicatedapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:503254985448:ios:417689f13bc1ffbd89b75d</string>
	<key>DATABASE_URL</key>
	<string>https://duplicatedapps-default-rtdb.firebaseio.com</string>
</dict>
</plist>
